<div class="breadcrumbs">
  <a href="/" data-relative="true">Sources</a>
  &raquo;
  <span class="current">Rdio</a>
</div>

<h2>Search Rdio</h2>

<input type="text" id="search_query" value="{{query}}" />
<a href="#" class="button library_search">Search</a>

<ul id="search_results">
  {{#results}}
  <li>
    <a href="#" class="result entry" data-id="{{id}}">
        <img class="thumbnail" src="{{cover_url}}" />
        <p class="title">{{title}}</p>
        <p class="author">{{artist}}</p>


    </a>
  </li>
  {{/results}}
</ul>
